body {
	padding-top: 70px;
}

.navbar-nav li {
	text-transform: capitalize;
}

.right-text {
	float: right;
	display: table;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}

@media (min-width: 768px){
	.ellipsis {
		text-overflow: initial;
		white-space: initial;
		overflow: initial;
		width: initial;
	}
}