<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bin/pygment/default.css">
	<link rel="stylesheet" type="text/css" href="/bin/style.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<!-- <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bec9c4c443c26001b064fee&product=inline-share-buttons' async='async'></script> -->
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header"><a href="/" class="navbar-brand">Zen</a></div>
		</div>
	</div>
	<div class="container">
		{{ content }}
		<br>
	</div>

	<!-- messenger chat -->

	<div class="messenger"><a target='_blank' href="https://www.messenger.com/t/mzaini30"><img src="/messenger.png" alt=""></a></div>

	<script type="text/javascript" src="/bin/jquery.min.js"></script>
	<script type="text/javascript" src="/bin/ResizeSensor.min.js"></script>
	<script type="text/javascript" src="/bin/theia-sticky-sidebar.min.js"></script>
	<script type="text/javascript">
		$('.theia').theiaStickySidebar({
			additionalMarginTop: 20,
			additionalMarginBottom: 20
		})
	</script>
	<div style="position: fixed; left: 10px; bottom: 0;">
	<script id="_wauttn">var _wau = _wau || []; _wau.push(["dynamic", "b79nqjyg3k", "ttn", "c4302bffffff", "small"]);</script><script async src="//waust.at/d.js"></script>
	</div>
</body>
</html>