<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bin/style.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-heading"><a href="/" class="navbar-brand">Zen</a></div>
		</div>
	</div>
	<div class="container">
		{{ content }}
		<hr>
		<center>
			<p>&copy; Zen</p>
		</center>
	</div>
	<script type="text/javascript" src="/bin/jquery.min.js"></script>
	<script type="text/javascript" src="/bin/ResizeSensor.min.js"></script>
	<script type="text/javascript" src="/bin/theia-sticky-sidebar.min.js"></script>
	<script type="text/javascript">
		$('.theia').theiaStickySidebar({
			additionalMarginTop: 20,
			additionalMarginBottom: 20
		})
	</script>
</body>
</html>